body {
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: lightgray;
}
header {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 25px;
}
footer {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 20px;
}
form{
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  margin: 10%;
  border-radius: 15px; 
  padding: 5px;
  justify-content: space-around;
}
#formhead{
  margin-left: 5px;
  margin-right: 10px;
}
form #desctxt{
  width: 50%;
  height: 25px;
  margin-right: 50%;
  margin-top: 20px;
}
form button{
  width: 25%;
  height: 25px;
  margin-top: 20px;
}
form p{
  margin-top: 40px;
  margin-bottom: 0px;
}

form #datetxt, #timetxt{
  width:25%;
  height: 25px;
  margin: 0;
}
#lista{
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  margin: 10%;
  border-radius: 15px; 
  justify-content: space-around;
  padding: 5px;
}